.container {
  min-height: calc(100vh - 60px);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  height: 50vh;
  width: 80vh;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
}

.wrapper > h2 {
  font-weight: bold;
  font-size: 36px;
  white-space: nowrap;
}

.wrapper > p {
  font-size: 28px;
  font-weight: 500;
  color: #333;
}

.wrapper > a {
  text-decoration: none;
  padding: 0.8rem 1.5rem;
  color: #fff;
  border: 1px solid transparent;
  background-color: #f76e11;
  border-radius: 8px;
  font-size: 18px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.wrapper > a:hover {
  border-color: #f76e11;
  background-color: #fff;
  color: #f76e11;
}
